In [ ]:
-- ramen ratings

In [ ]:
import pandas as pd

In [4]:
# Load the dataset
df = pd.read_csv('Datasets/global-ramen-ratings.csv')

df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [2]:
# See the first few rows
print(df.head())

# Check basic info
print(df.info())

# See missing values
print(df.isnull().sum())

   Review #           Brand  \
0      2580       New Touch
1      2579        Just Way
2      2578          Nissin
3      2577         Wei Lih
4      2576  Ching's Secret

                                             Variety Style Country Stars  \
0                          T's Restaurant Tantanmen    Cup   Japan  3.75
1  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack  Taiwan     1
2                      Cup Noodles Chicken Vegetable   Cup     USA  2.25
3                      GGE Ramen Snack Tomato Flavor  Pack  Taiwan  2.75
4                                    Singapore Curry  Pack   India  3.75

  Top Ten
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB
None
Review #       0
Brand          0
Variety        0
Style          2
Country        0
Stars          0
Top Ten     2539
dtype: int64